div.background-img {
  background-image: url("../images/background_3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.music-page {
  width: 100%;
  height: 100%;
}

.music-page .content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
}

.music-page .footer {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 3.5rem;
}

.music-page .footer button,
a {
  float: right;
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1;
  color: #ffffff;
}
