html,
body,
div#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#root {
  background: #000000;
  color: white;

  * {
    box-sizing: border-box;
  }
}

canvas {
  position: fixed;
}
