@import "./assets/css/_breakpoints.css";
@import "./assets/css/_layout.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#root {
  background: #000000;
  color: white;
}

div#root * {
  box-sizing: border-box;
}

div#root p,
a,
button,
div {
  font-family: "GowunBatang-Regular";
}

canvas {
  position: fixed;
}
